h2, h3, h4, h5 {
	background: #c77dff;
	font-family: sans-serif;

}

table, tr, td, th, caption {
	border: 3px solid hotpink;
	text-align: center;
}


#scoreBoard th {
	color: #c77dff;
}

ul {
	list-style-type: square;
}

a:hover {
   color: #c77dff;
   text-decoration: none;
}

blockquote {
	background: #7b2cbf;
	color: #e0aaff;
}

img  {
	display: none;
}

#teamRoster > li:first-child {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
	list-style-type: none;


}

#teamRoster > li:last-child {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
	list-style-type: none;
}



#checkbox-grid li{
	list-style-type: none;
}





